@{
    ViewBag.Title = "Home Page";
}

<form action="/Form/InputForm" method="post">
    <input type="text" name="gender" />
    <input type="number" name="age" />
    <input type="submit" value="Submit form" />
</form>